# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiofiles=23.2.1=pypi_0
aiohttp=3.8.6=pypi_0
aiosignal=1.3.1=pypi_0
aiostream=0.5.2=pypi_0
altair=5.1.2=pypi_0
annotated-types=0.6.0=pypi_0
anyio=3.7.1=pypi_0
asgiref=3.7.2=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
async-timeout=4.0.3=pypi_0
asyncer=0.0.2=pypi_0
attrs=23.1.0=pypi_0
backoff=2.2.1=pypi_0
backports=1.0=pyhd8ed1ab_3
backports.functools_lru_cache=1.6.5=pyhd8ed1ab_0
bcrypt=4.0.1=pypi_0
beautifulsoup4=4.12.2=pypi_0
bidict=0.22.1=pypi_0
blinker=1.7.0=pypi_0
brotli=1.1.0=pypi_0
bzip2=1.0.8=he774522_0
ca-certificates=2023.7.22=h56e8100_0
cachetools=5.3.2=pypi_0
certifi=2023.7.22=pypi_0
chainlit=0.7.700=pypi_0
charset-normalizer=3.3.2=pypi_0
chroma-hnswlib=0.7.3=pypi_0
chromadb=0.4.18=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
coloredlogs=15.0.1=pypi_0
comm=0.1.4=pyhd8ed1ab_0
contourpy=1.2.0=pypi_0
cycler=0.12.1=pypi_0
dataclasses-json=0.5.14=pypi_0
debugpy=1.6.7=py311hd77b12b_0
decorator=5.1.1=pyhd8ed1ab_0
deprecated=1.2.14=pypi_0
distro=1.8.0=pypi_0
duckduckgo-search=3.9.6=pypi_0
exceptiongroup=1.1.3=pyhd8ed1ab_0
executing=2.0.1=pyhd8ed1ab_0
fastapi=0.100.1=pypi_0
fastapi-socketio=0.0.10=pypi_0
ffmpy=0.3.1=pypi_0
filelock=3.13.1=pypi_0
filetype=1.2.0=pypi_0
flatbuffers=23.5.26=pypi_0
fonttools=4.45.0=pypi_0
frozenlist=1.4.0=pypi_0
fsspec=2023.10.0=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.40=pypi_0
google-auth=2.23.4=pypi_0
googleapis-common-protos=1.61.0=pypi_0
gradio=4.5.0=pypi_0
gradio-client=0.7.0=pypi_0
greenlet=3.0.1=pypi_0
grpcio=1.59.3=pypi_0
h11=0.14.0=pypi_0
h2=4.1.0=pypi_0
hpack=4.0.0=pypi_0
httpcore=0.17.3=pypi_0
httptools=0.6.1=pypi_0
httpx=0.24.1=pypi_0
huggingface-hub=0.19.4=pypi_0
humanfriendly=10.0=pypi_0
hyperframe=6.0.1=pypi_0
idna=3.4=pypi_0
importlib-metadata=6.8.0=pyha770c72_0
importlib-resources=6.1.1=pypi_0
importlib_metadata=6.8.0=hd8ed1ab_0
ipykernel=6.26.0=pyha63f2e9_0
ipython=8.17.2=pyh5737063_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.2=pypi_0
joblib=1.3.2=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.20.0=pypi_0
jsonschema-specifications=2023.11.1=pypi_0
jupyter_client=8.6.0=pyhd8ed1ab_0
jupyter_core=5.5.0=py311h1ea47a8_0
kiwisolver=1.4.5=pypi_0
kubernetes=28.1.0=pypi_0
langchain=0.0.342=pypi_0
langchain-core=0.0.7=pypi_0
langchain-experimental=0.0.43=pypi_0
langsmith=0.0.66=pypi_0
lazify=0.4.0=pypi_0
libffi=3.4.4=hd77b12b_0
libsodium=1.0.18=h8d14728_1
lxml=4.9.3=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=pypi_0
marshmallow=3.20.1=pypi_0
matplotlib=3.8.2=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mdurl=0.1.2=pypi_0
mmh3=4.0.1=pypi_0
monotonic=1.6=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
mypy-extensions=1.0.0=pypi_0
nest-asyncio=1.5.8=pyhd8ed1ab_0
numexpr=2.8.7=pypi_0
numpy=1.26.2=pypi_0
oauthlib=3.2.2=pypi_0
onnxruntime=1.16.3=pypi_0
openai=0.28.0=pypi_0
openssl=3.0.12=h2bbff1b_0
opentelemetry-api=1.21.0=pypi_0
opentelemetry-exporter-otlp=1.21.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.21.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.21.0=pypi_0
opentelemetry-exporter-otlp-proto-http=1.21.0=pypi_0
opentelemetry-instrumentation=0.42b0=pypi_0
opentelemetry-instrumentation-asgi=0.42b0=pypi_0
opentelemetry-instrumentation-fastapi=0.42b0=pypi_0
opentelemetry-proto=1.21.0=pypi_0
opentelemetry-sdk=1.21.0=pypi_0
opentelemetry-semantic-conventions=0.42b0=pypi_0
opentelemetry-util-http=0.42b0=pypi_0
orjson=3.9.10=pypi_0
overrides=7.4.0=pypi_0
packaging=23.2=pyhd8ed1ab_0
pandas=2.1.3=pypi_0
parso=0.8.3=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pillow=10.1.0=pypi_0
pip=23.3=py311haa95532_0
platformdirs=4.0.0=pyhd8ed1ab_0
posthog=3.0.2=pypi_0
prompt-toolkit=3.0.41=pyha770c72_0
prompt_toolkit=3.0.41=hd8ed1ab_0
protobuf=4.25.1=pypi_0
psutil=5.9.0=py311h2bbff1b_0
pulsar-client=3.3.0=pypi_0
pure_eval=0.2.2=pyhd8ed1ab_0
pyarrow=14.0.1=pypi_0
pyasn1=0.5.1=pypi_0
pyasn1-modules=0.3.0=pypi_0
pydantic=2.5.1=pypi_0
pydantic-core=2.14.3=pypi_0
pydeck=0.8.1b0=pypi_0
pydub=0.25.1=pypi_0
pygments=2.16.1=pyhd8ed1ab_0
pyjwt=2.8.0=pypi_0
pyparsing=3.1.1=pypi_0
pypdf=3.17.1=pypi_0
pypika=0.48.9=pypi_0
pyprojroot=0.3.0=pypi_0
pyreadline3=3.4.1=pypi_0
python=3.11.5=he1021f5_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python-dotenv=1.0.0=pypi_0
python-engineio=4.8.0=pypi_0
python-graphql-client=0.4.3=pypi_0
python-multipart=0.0.6=pypi_0
python-socketio=5.10.0=pypi_0
python_abi=3.11=2_cp311
pytz=2023.3.post1=pypi_0
pywin32=305=py311h2bbff1b_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.0=py311hd77b12b_0
referencing=0.31.0=pypi_0
regex=2023.10.3=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rich=13.7.0=pypi_0
rpds-py=0.13.0=pypi_0
rsa=4.9=pypi_0
scipy=1.11.4=pypi_0
semantic-version=2.10.0=pypi_0
setuptools=68.0.0=py311haa95532_0
shellingham=1.5.4=pypi_0
simple-websocket=1.0.0=pypi_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.1=pypi_0
sniffio=1.3.0=pypi_0
socksio=1.0.0=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.23=pypi_0
sqlite=3.41.2=h2bbff1b_0
stack_data=0.6.2=pyhd8ed1ab_0
starlette=0.27.0=pypi_0
streamlit=1.28.2=pypi_0
streamlit-chat=0.1.1=pypi_0
sympy=1.12=pypi_0
syncer=2.0.3=pypi_0
tenacity=8.2.3=pypi_0
tiktoken=0.5.1=pypi_0
tk=8.6.12=h2bbff1b_0
tokenizers=0.15.0=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.12.0=pypi_0
toolz=0.12.0=pypi_0
torch=2.1.1=pypi_0
tornado=6.3.3=py311h2bbff1b_0
tqdm=4.66.1=pypi_0
traitlets=5.13.0=pyhd8ed1ab_0
transformers=4.35.2=pypi_0
typer=0.9.0=pypi_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.8.0=pyha770c72_0
tzdata=2023.3=pypi_0
tzlocal=5.2=pypi_0
uptrace=1.21.0=pypi_0
urllib3=1.26.18=pypi_0
uvicorn=0.23.2=pypi_0
validators=0.22.0=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
watchdog=3.0.0=pypi_0
watchfiles=0.20.0=pypi_0
wcwidth=0.2.10=pyhd8ed1ab_0
websocket-client=1.6.4=pypi_0
websockets=11.0.3=pypi_0
wheel=0.41.2=py311haa95532_0
wikipedia=1.4.0=pypi_0
wrapt=1.16.0=pypi_0
wsproto=1.2.0=pypi_0
xz=5.4.2=h8cc25b3_0
yarl=1.9.2=pypi_0
zeromq=4.3.4=h0e60522_1
zipp=3.17.0=pyhd8ed1ab_0
zlib=1.2.13=h8cc25b3_0
